{% extends 'base.html.twig' %}

{% block title %}Edit Diplome{% endblock %}

{% block content_for_layout %}
    <h1>Modifier Diplome</h1>

    {{ include('diplome/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_diplome_index') }}">back to list</a>

    {{ include('diplome/_delete_form.html.twig') }}
{% endblock content_for_layout %}



